body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration:none;    
}

.main{
    display: flex;
    flex-direction: row-reverse;
    margin: 40px;
    width: 1200px;
}

.main-content {
    padding: 105px 90px;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.1);
}

.title {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project-item {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.project-list {
    padding: 0;
    margin-left: 17px;
}

.project, .project-link{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.project-brackets {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.about-position {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-name {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.about-description {
    color: #595959;
    width: 400px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.organization {
    color: #fb6d3a;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.work-position {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.period{
    color: #a8a8a8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 10px;
}

.line {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.work-list{
    width: 509px;
    padding:0;
    margin-left: 17px;
}

.work-list-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.sidebar {
    color: white;
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.contact-type {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
}

.contact-link {
    color: #8E949C;
}

.contact-link:hover {
    text-decoration: underline;
}

.tech-skills-list {
    padding:0;
    margin-left: 18px;
}

.tech-skills-item {
    color:#fb6d3a;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.tech-skills-text {
    color:#FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.soft-skills-list{
    padding:0;
    margin-left: 18px;
}

.skills-item{
    color:#fb6d3a;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.soft-skills-text {
    color:#FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
